.App {
  background: #032f69;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smart_calculator {
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.smart_calculator_navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  min-height: 40px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.smart_calculator_navbar_toogle {
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px -1px 40px 80px rgba(0, 0, 0, 0.15);
}

.smart_calculator_navbar_toogle_round {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 300ms;
}

.smart_calculator_navbar_toogle_round_active {
  margin-left: 15px;
}